<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h3>add participant</h3>
    <form action="">
        <input type="text" name="luckydrawtype_id">
        <input type="text" name="participant_name">
        <input type="text" name="coupen_number">
        <select name="coupen_type">
            <option value="BLOCK">BLOCK</option>
            <option value="BOX">BOX</option>
            <option value="SUPER">SUPER</option>
        </select>

    </form>
    
</body>
</html>