<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>luckydraw</h2>
    <a href="">announce winner page</a>

    {% comment %} list out lucky drow {% endcomment %}

    <ul>
        {% if luckydrow_list %}
        {% for luckydrow in luckydrow_list %}
            <li>
                <p>{{luckydrow.luckydrawtype_id}}</p>
                <p>{{luckydrow.luckydraw_name}}</p>
                <p>{{luckydrow.description}}</p>
                <p>{{luckydrow.draw_time}}</p>

            </li>
            <a href="{% url "get_contest" luckydrow.luckydrawtype_id %}">click here</a>
        {% endfor %}
        {% endif %}

    </ul>
    

    <form action="{% url 'lucky_draw' %}" method="POST">
        {% csrf_token %}
        <label for="">luckydraw name</label>
        <input type="text" name="luckydraw_name">

        <label for="">description</label>
        <input type="text" name="description">

        <label for="">draw_time</label>
        <input type="text" name="draw_time">

        <button>submit</button>

    </form>
    {% if error %}
    {{error}}
    {% endif %}
    
</body>
</html>