<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h3>announce winners</h3>

    <label for="cars">Type:</label>
    <select name="cars" id="cars">
        {% if  %}
            {% for  in  %}
                <option value="volvo">Volvo</option>
            {% endfor %}
        {% endif %}
    </select>

    <label for="cars">Date:</label>
    <select name="cars" id="cars">
        {% if  %}
            {% for  in  %}
                <option value="volvo">Volvo</option>
            {% endfor %}
        {% endif %}
    </select>

    
    

    
</body>
</html>