{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <!-- <link rel="stylesheet" href="https://cdn.korzh.com/metroui/v4.5.1/css/metro-all.min.css"> -->
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
</head>
<body>
    <style>
        .navbar{
        background: linear-gradient(135deg, #364a60, #384c6c);
        }  
        .nav-item a{
            color: #fff;
            font-size: 13px;
            font-weight: 500;
        }
        .form-section{
          margin-top: 100px;
        }
        .under_line{
          color: #fff !important;
          border-bottom: 2px solid #bdcfe2 !important;

        }
        .order-list{
          margin-bottom: 80px;
        }
        .list-orders{
          margin-top: 100px;
        }
        .navbar-brand {
            font-weight: 500 ;
            font-size: 13px
        }
        
        /* countdown css */
        /* styles.css */
        .countdown {
            text-align: center;
            background-color: #fffefe;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
            
            font-weight: 600;
            font-size: 18px;
            color: rgb(94, 105, 196);
        }

        #countdown-timer {
            font-size: 28px;
            margin-top: 10px;
        }

/* Style the countdown timer elements (days, hours, minutes, seconds) as needed */

   
    {% comment %} id: {{luckydraw.luckydrawtype_id}} {% endcomment %}
    {% comment %} time:{{luckydraw.draw_time}}  {% endcomment %}
    {% comment %} dixcription: {{luckydraw.description}} {% endcomment %}
  </style>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand text-light" href="{% url "login" %}">HOME</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto m-1">
                <li class="nav-item">
                  <a class="nav-link under_line"  href="#">COUPON ADD</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link ms-4 text-light"  href="{% url "draw" %}">DRAW PORT</a>
                </li>
              </ul>
            <div class="d-flex" role="search">
              <a href="{% url "logout" %}" class="btn btn-outline-danger" >LOGOUT</a>
             
            </div>
          </div>
        </div>
      </nav>

      <!-- countdown -->
      <section>
        <div class="container">
            <div class="row mt-5">
                <div class="row col-md-6 text-center">

                  <h2 class="text-primary mt-2">{{luckydraw.luckydraw_name}}</h2>
                    
                </div>
                <div class="col-md-6">
                  <!-- TIMER -->
                      <div class="countdown">
                          <div id="countdown">
                              <span id="hours">00</span> hours
                              <span id="minutes">00</span> minutes
                              <span id="seconds">00</span> seconds
                          </div>
                      </div>
                </div>

            </div>
        </div>
        <div class="container">
            <hr style="height: 5px;
            background: rgb(4, 49, 49);
            margin: 20px 0;
            box-shadow: 0px 0px 4px 2px rgba(204,204,204,1);">
        </div>
      </section>
      <!-- forms section -->
      <section>
        <div class="container">


          <form method="POST" class="row row-cols-lg-auto g-3 align-items-center form-section">

            {% csrf_token %}
            <input type="text" hidden id="luckydrawtype_id" name="luckydrawtype_id" value={{luckydraw.luckydrawtype_id}}>
            
            <div class="row col-6">
              <div class="col-3">
                <label class="visually-hidden" for="inlineFormInputGroupUsername">Username</label>
                <div class="input-group">
                  <input type="text" class="form-control" id="participant_name" name="participant_name" placeholder="Name" value="{{last_participant_name}}" />
                </div>
              </div>
              
              <div class="col-3">
                <div class="input-group">
                  <input type="text" class="form-control" id="coupen_number" name="coupen_number" placeholder="Coupen Number" autofocus />
                </div>
              </div>
              
              <div class="col-3">
                <label class="visually-hidden" for="inlineFormSelectPref">Preference</label>
                <select class="select" id="coupen_type" name="coupen_type">

                  <option value="SUPER">SUPER</option>
                  <option value="BOX">BOX</option>

                </select>
              </div>
              <div class="col-3">
                {% comment %} <button type="button" id="add_participant" class="btn btn-primary">Add Coupen</button> {% endcomment %}
                <button type="submit" class="btn btn-primary">Add Coupen</button>
  
              </div>
            
              <p class="text-muted" id="error">{% if error %}{{error}}{% endif %}</p>

            </div>
          
            <div class="col-6">

              <div class="input-group">
                <span>
                  <input type="number" value={% if contest.count_limit %}{{contest.count_limit}}{% else %}20{% endif %} class="form-control ms-1" name="count_limit" id="inlineFormInputGroupUsername" placeholder="Count Limit" />
                </span>
              </div>
            
              
            </div>
            
            
          </form>
        </div>
      </section>


      <!-- List of orderrd items -->


      <section class="order-list">
        <div class="container list-orders ">
          <table class="table align-middle mb-0 bg-white">
            <thead class="bg-light ">
              <tr>
                <th>Coupan Number</th>
                <th>Name</th>
                <th>Types</th>
                <th>Count</th>
                <th>Rate</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>

              {% if all_paerticipants %}
              {% for participant in all_paerticipants %}
              {% if participant.is_limit_exceeded == False %}
              <tr id="participant-{{ participant.participant_id }}">
                <td>
                  <div class="d-flex align-items-center ">
                    
                    <div class="">
                      <p class="text-muted mb-0 ">{{participant.coupen_number}}</p>
                    </div>
                  </div>
                </td>
                <td class="text-muted mb-0">{{participant.participant_name}}</td>
                <td>
                  <p class="text-muted mb-0">{{participant.coupen_type}}</p>
                </td>
                <td class="text-muted mb-0">{{participant.coupen_count}}</td>
                <td class="text-muted mb-0">{{participant.coupen_rate}}</td>
                <td>
                  <button type="button" data-participant-id="{{ participant.participant_id }}" class="delete_participant btn btn-link btn-sm btn-rounded">
                    <i class="bi bi-trash3-fill text-danger"></i>
                  </button>
                </td>
              </tr>
              {% endif %}
              {% endfor %}
              {% endif %}
              
              
              </tr>
            </tbody>
          </table>
        </div>
      </section>

      {% comment %} Limit Exceeded numbers {% endcomment %}

      
      <section class="order-list">
        
        <div class="container list-orders ">
          <h3>Coupen beyond limits</h3>
          <hr>
          <table class="table align-middle mb-0 bg-white">
            <thead class="bg-light ">
              <tr>
                <th>Coupans numbers</th>
                <th>Name</th>
                <th>Types</th>
                <th>Count</th>
                <th>Rate</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>

              {% if all_paerticipants %}
              {% for participant in all_paerticipants %}
              {% if participant.is_limit_exceeded %}
              <tr id="participant-{{ participant.participant_id }}">
                <td>
                  <div class="d-flex align-items-center ">
                    
                    <div class="">
                      <p class="text-muted mb-0 ">{{participant.coupen_number}}</p>
                    </div>
                  </div>
                </td>
                <td class="text-muted mb-0">{{participant.participant_name}}</td>
                <td>
                  <p class="text-muted mb-0">{{participant.coupen_type}}</p>
                </td>
                <td class="text-muted mb-0">{{participant.coupen_count}}</td>
                <td class="text-muted mb-0">{{participant.coupen_rate}}</td>
                <td>
                  <button type="button" data-participant-id="{{ participant.participant_id }}" class="delete_participant btn btn-link btn-sm btn-rounded">
                    <i class="bi bi-trash3-fill text-danger"></i>
                  </button>
                </td>
              </tr>
              {% endif %}
              {% endfor %}
              {% endif %}
              
              
              </tr>
            </tbody>
          </table>
        </div>
      </section>
    




      <!-- <script src="https://cdn.korzh.com/metroui/v4.5.1/js/metro.min.js"></script> -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script>
      const countdownTime = {{time_diff}}; // 1 hour
        
        // Update the countdown timer every second
        function updateCountdown() {
            const countdownElement = document.getElementById('countdown');
            let timeLeft = countdownTime;
            
            setInterval(function() {
                const hours = Math.floor(timeLeft / 3600);
                const minutes = Math.floor((timeLeft % 3600) / 60);
                const seconds = timeLeft % 60;
                
                const timeString = `${String(hours).padStart(2, '0')}:${String(minutes).padStart(2, '0')}:${String(seconds).padStart(2, '0')}`;
                countdownElement.textContent = timeString;
                
                timeLeft--;
                
                if (timeLeft < 0) {
                    // Time's up, you can perform actions here
                    countdownElement.textContent = '00:00:00'; // Display 00:00:00 after time's up
                }
            }, 1000); // Update every second
        }
        
        // Call the countdown function
        updateCountdown();

      

      
      //participant save button
      $("#add_participant").on("click", function(e) {
        /*
        this method fetch all the data from the form and validate,
        then trigger ajax call to update
        */

        e.preventDefault()
        console.log("button clicked")
        
        //fetcing data
        let luckydrawtype_id = $("#luckydrawtype_id").val()
        let participant_name = $("#participant_name").val()
        let coupen_number = $("#coupen_number").val()
        let coupen_type = $("#coupen_type").val()
        
        
        //validation
        if (coupen_number=="" || coupen_type=="") {
            $("#error").text("Field incomplete")
            return 
        }
        else{$("#error").text("")}
        
        // coupen_number and coupen_type validation needed for better perfomance
        // otherwise we make ajax call using invalied data
        // backend does have a validation, but frond end validation needed for better perfomance
        
        console.log("procede for ajax call")
        //calling ajax
        let data = {
            "luckydrawtype_id":luckydrawtype_id,
            "participant_name": participant_name,
            "coupen_number": coupen_number,
            "coupen_type": coupen_type,
            "coupen_count": coupen_count,
            "csrfmiddlewaretoken":"{{ csrf_token }}",
        }
        console.log("calling ajax")
        $.ajax({
            url: "{% url "add_participant" %}",
            method: "POST",
            data: data,

            success: function(data) {
                // handle response
                console.log(data)
                console.log(data.error)
                $("#error").text(data.error)
            },

        })
        
        

    })
    
    $(".delete_participant").on('click', function(e) {
      e.preventDefault()
      console.log("button clicked")
      var participant_id = $(this).data("participant-id");
      var data = {participant_id:participant_id}
      var rowId = "participant-" + participant_id;

      $.ajax({
        url: "{% url "delete_participant" %}",
        method: "GET",
        data: data,

        success: function(data) {
            // handle response
            if(data.status == 200) {
              $("#" + rowId).remove();
            }   
            
        },

    })
      
    })

    </script>
</body>
</html>