{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>user report</h3>

    {% if filtered_data %}
    {% for i in filtered_data %}
        {% if i.participant_name == "rashi" %}
            <p>{{ i.coupen_number }}</p>
        {% endif %}
    {% endfor %}
    {% endif %}

    <a href="{% url "user_report_pdf" %}">pdf</a>
    
</body>
</html>